/* CSS odpowiedzialny za główną stronę */
* {
  margin: 0;
  padding: 0;
}
body{
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}
#naglowek{
	background-color: #4267b2;
	height: 48px;
	color: white;
}
#lewy_naglowek_logo{
	width:15%;
	box-sizing: border-box;
	float: left;
	line-height: 48px;
	border-right: 2px solid white;
	text-align: center;
}
#lewy_naglowek_logo a{
	color: white;
	font-size: 30px;
	text-decoration: none;
}
#srodkowy_naglowek{
	width: 30%;
	height: 48px;
	padding-left: 15px;
	float: left;
	font-size: 18px;
}
.menu_zawartosc li{
	float: left;
	list-style-type: none;
	line-height: 48px;
	vertical-align: middle;
	padding-left: : 8px;
	padding-right: 5px;
}
.menu_zawartosc li a{
	text-decoration: none;
	color: white;
}
#prawy_naglowek{
	width: 53%;
	float: left;
	text-align: right;
	font-size: 18px;
}
#form_logowanie{
	padding-top: 1px;
}
#logowanie input[type=text],
#logowanie input[type=password]{
	width: 150px;
	height: 22px;
	background-color: #FCFCFC;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 3px;
	font-size: 13px;
	box-sizing: border-box; 
/*
	border:none;
	border-bottom:1px solid white;
	width:150px;
	height: 22px;
	background-color: #4762b7;
	color: white;
*/
}
#logowanie input[type=submit] {
	background: linear-gradient(#67ae55, #578843);
	background-color: #69a74e;
	box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
	width: 70px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	padding: 3px;
	border-radius: 3px; 
}
#kategorie{
	cursor: pointer;
}
/* Menu użutkownika ********************************************************/
.onclick_menu{
	position: relative;
	display: inline-block;
	color: white;
	font-size: 22px;
	padding-top: 7px;
}
.onclick_menu:focus{
	pointer-events: none;
	outline: none !important; 
	border:none !important;
}
.onclick_menu:focus .onclick_menu_content{
	/*  opacity is 1 in opened state (see below) */
	opacity: 1;
	visibility: visible;
	margin-top: 5px;

	/* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick_menu_content li a i{
	padding-right: 5px;
}
.onclick_menu_content{
	position: fixed;
	right: 10px;
    z-index: 1;
    background-color: white;

    padding-top: 5px;

    font-size: 17px;
    text-align: left;
    width: 150px;
    color: #333333;
    box-sizing: border-box;

    list-style-type: none;
   	-webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
.onclick_menu ul li{
	padding: 5px 10px;
	cursor: pointer;
}
.onclick_menu ul li a{
	display: block;
	text-decoration: none;
	color: #333333;
}
.onclick_menu ul  li:hover{
	background-color: #ecf0f7;
}
.onclick_menu_content:last-child{
	padding-bottom: 5px;
}
/* Koniec menu użytkownika **************************************************/

#rejestracja a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}
#c_wyszukiwarka{
	text-align: center;
	width: 400px;
	padding-top: 5px;
	margin: 0 auto;
}
#c_wyszukiwarka input{
/*	Inny styl wyszukiwarki

	width: 300px;
	height: 35px;
	background-color: #FCFCFC;
	color: #666;
	border: 2px solid #4267b2;
	border-radius: 3px;
	font-size: 18px;
	box-sizing: border-box; */
	padding:8px;
	border:none;
	border-bottom:1px solid #4267b2;
	width:400px;
	text-align: center;
	font-size: 18px;
}
#c_wyszukiwarka input:focus {
	outline: none !important; 
	border:none !important;
	border-bottom:1px solid #4267b2 !important;
}
#wyswietlanie_wyszukiwania{
	position: absolute;
	z-index: 1;
    border: none;
	font-size: 15px;
	width: 400px; 
	background-color: white;
	padding-top: 13px;
	padding-bottom: 8px;
	-webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
}
ul li.wyniki_wyszukiwania{
	line-height: 35px;	
	padding-left: 10px;
	vertical-align: middle;
	list-style-type: none;
	display: list-item;
	font-size: 16px;
	text-align: left;
	font-weight: bold
}
ul li.wyniki_wyszukiwania:hover{
	background-color: #ecf0f7;
}
ul li.wyniki_wyszukiwania a{
	text-decoration: none;
	color: black;
	display: block;
	height: 35px;
	width: 400px;
}
ul li.wyniki_wyszukiwania a:focus {
	display: block;
}
#kontener{
	width: 100%;
}
#miniatura_potrawy_pojemnik{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.miniatura_potrawy_przepis{
	float: left;
	height: 345px;
	margin-right: 15px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.75);
}
.miniatura_potrawy_zdjecie_skrot_opis{
	position: relative;
}
.miniatura_potrawy_zdjecie_skrot_opis:hover > .miniatura_potrawy_skrot_opis{
	display: block;
}
.miniatura_potrawy_zdjecie{
	height: 230px;
	width: 315px;
}
.miniatura_potrawy_skrot_opis{
  	position: absolute;
  	bottom: 3px;
  	font-size: 16px;
  	width: 315px;
	background-color: rgba(66,103,178,0.7);
	color: white;
  	display: none;
  	z-index: 100;
  	padding: 15px 0px;

}
.miniatura_potrawy_mpcpl_mpstp{
	font-size: 16px;
	padding: 10px 10px 0px 10px;
	font-weight: bold;
	color: grey;
	vertical-align: middle;

}
.mpcpl{
	float: left;
	text-align: left;
}
.mpstp{
	float: right;
	text-align: right; 	
}
.miniatura_potrawy_ocena{
	 font-size: 15px;
	 padding: 6px 0px;
}
.miniatura_potrawy_tytul{
	max-width: 310px;
	font-size: 17px;
	font-weight: bold; 
	color: #4267b2;
}
.miniatura_potrawy_tytul a{
	text-decoration: none;
	color: font-size: 17px;
	font-weight: bold; 
	color: #4267b2; 
}
.miniatura_potrawy_tytul a:hover{
	text-decoration: underline;
}

/* CSS odpowiedzialny za rejestracje */
#lean_overlay{
		position: fixed;
		z-index: 100;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background: #000;
		display: none;
}
.rejestracja_pojemnik{
		position: absolute;
		width: 330px;
		height: auto;
		left: 45%;
		top: 60px;
		background: #FFF;
		text-align: left;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
		color: #353b48;
}

.rejestracja_naglowek{
		background: #F4F4F2;
		position: relative;
		padding: 10px 20px;
		border-bottom: 1px solid #DDD;
		font-weight: bold;
}
.naglowek_tytul{
		font-size: 18px;
}
.rejestracja_naglowek .modal_close{
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px 15px;
		background: #E4E4E2;
		cursor: pointer;
		color: #aaa;
		font-size: 16px;
}
.rejestracja_cialo{
	padding-left: 10px;
	padding-top: 10px;
}
.rc_w{
	margin-bottom: 5px;
}
.rc_w input{
	width: 230px;
	height: 27px;
	background-color: #FCFCFC;
	color: black;
	border: 1px solid #718093; 
	border-radius: 3px;
	font-size: 15px;
	box-sizing: border-box; 
}
.rc_t{
	font-size: 16px;
}
.przycisk{
	margin-top: 10px;
	margin-bottom: 10px;
}
.przycisk a{
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-border-radius: 14px 14px 14px 14px;
	border: 0px solid #000000;
	background-color: #4267b2;
	color: white;
	font-size: 14px;
	padding: 3px;
	cursor: pointer;
}
.rejestracja_udana{
	padding-left: 10px;
}
.rejestracja_input_error{
	border: 1px solid #e74c3c !important;
}
.form_error_span{
	color: red;
	font-size: 12px;
}
/* CSS odpowiedialny za przepis */
#przepis_zawartosc_przepisu{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
}
.przepis_tytul_przepisu{
	margin-top: 25px;
	padding-bottom: 10px;
	color: #4267b2;
	border-left: 1px solid #90949b;
	padding-left: 5px;
}
.przepis_skrot_opis{
	border-left: 1px solid #90949b;
	padding-left: 5px;
}
.przepis_dodany_przez{
	padding: 10px 0px;
	border-left: 1px solid #90949b;
	padding-left: 5px;
}
.przepis_dodany_przez_osoba{
	color: #4267b2;
	font-size: 20px;
	font-weight: bold;
}
.przepis_zdjecie_przepisu img{
	float: left;
	max-height: 400px;
	min-height: 350px;
	width: 470px;
}
.przepis_info_przepisu{
	float: left;
	background-color: #e2e2e2;
	width: 280px;
	height: 400px;
	-webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.2);
}
.przepis_ip_cp_1{
	float: left;
}
.przepis_ip_cp_2{
	float: left;
	width: 100px;
	padding-top: 5px !important;
	padding-right: 7px;
	text-align: center;
	font-size: 16px;
	max-height: 25px;
}
.przepis_ip_cp_3{
	float: left;
	padding-right: 3px;
}
.przepis_ip_cp_4{
		border-bottom: 1px solid white;
		float: left;
		width: 90px;
		padding-right: 8px;
		height: 19px;
}
.pips{
	font-size: 22px;
	color: #4267b2;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}
.przepis_info_przepisu > dl > dt {
	color: #333333;
	padding: 7px 7px;
}
.przepis_info_przepisu > dl > dt:first-child {
	padding-top: 2px;
}
.przepis_info_przepisu > dl > dd {
	border-bottom: 1px solid white;
	padding-left: 13px;
	padding-bottom: 7px;
}
.przepis_info_przepisu > dl > dd:last-child {
	border: none;
}
.przepis_info_przepisu > dl > dd > i{
	padding-right: 4px;
}
.przepis_info_przepisu > dl > dd:last-child > i{
	padding-right: 0px;
}
.przepis_ip_p{
	padding-left: 10px;
	color: green;
	font-size: 18px;
	cursor: pointer;
}
.przepis_ip_z{
	color: #eb2f06;
	font-size: 18px;
	cursor: pointer;
}
.przepis_skladniki{
	float: left;
	width: 28%;
	margin-right: 30px;
	margin-bottom: 30px;
}
.przepis_skladniki > ul > li{
	border-bottom: 1px solid gray;
	list-style-type: none;
	padding: 3px 5px;
	margin-left: 5px;
}
.pipt{
	color: #4267b2;
	font-size: 22px;
	font-weight: bold;
	padding: 8px 0px;
}
.przepis_przygotowanie{
	float: left;
	width: 65%;
	margin-bottom: 30px;
}
.przepis_dk input{
	border:none;
	border-bottom:1px solid #4267b2;
	width:400px;
	text-align: center;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.przepis_dk input:focus{
	outline: none !important; 
	border:none !important;
	border-bottom:1px solid #4267b2 !important;
}
.przepis_dk a{
	margin-left: 5px;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-border-radius: 14px 14px 14px 14px;
	border: 0px solid #000000;
	background-color: #4267b2;
	color: white;
	font-size: 18px;
	padding: 6px;
	cursor: pointer;
}
.przepis_pk_u{
	float: left;
	color: #4267b2;
	font-size: 20px;
	padding-right: 10px;
	line-height: 25px;
	vertical-align: middle;
}
.przepis_pk_d{
	float: left;
	line-height: 25px;
	vertical-align: middle;
}
.przepis_pk_uk{
	float: left;
	line-height: 20px;
	vertical-align: middle;
	cursor: pointer;
}
.przepis_pk_k{
	padding-left: 28px;
	padding-bottom: 10px;
}
.przepis_op_sr{
	float: left;
	padding-left: 5px;
	font-size: 17px;
	line-height: 18px;
	vertical-align: middle;
	color:#4a69bd;
	font-weight: bold;
}
/*CSS dodaj nowy przepis */
.np_dp{
	margin-top: 25px;
	padding-bottom: 10px;
	color: #4267b2;
}
#nie_zalogowany_n_p{
 	padding-top: 40px;
 	text-align: center;
}
#nowy_przepis{
	width: 960px;
	margin: 0 auto;	margin: 0 auto;
	text-align: left;
}
.wiersz_p{
padding-bottom: 5px;
}
.wiersz_pfl{
	float: left;
	width: 480px;
	padding-bottom: 10px;
	margin-top: 10px;
}
.tytul_d_p{
	color: black;
	font-size: 17px;
}
.wiersz_pfl > .tytul_d_p{
	padding-bottom: 5px;
}
.dp_l_id{
	padding-right: 10px;
	padding-bottom: 10px;
}
.input_p{
	display: block;
	width: 200px;
	height: 27px;
	background-color: #FCFCFC;
	color: black;
	border: 1px solid #718093;
	border-radius: 3px;
	font-size: 15px;
	box-sizing: border-box; 
}
.input_ps{
	display: block;
	width: 200px;
	height: 27px;
	background-color: #FCFCFC;
	color: black;
	border: 1px solid #718093;
	border-radius: 3px;
	font-size: 15px;
	box-sizing: border-box; 
	float: left;
}
.input_p_bd{
	width: 200px;
	height: 27px;
	background-color: #FCFCFC;
	color: black;
	border: 1px solid #718093;
	border-radius: 3px;
	font-size: 15px;
	box-sizing: border-box; 
}
.input_ods{
	margin-bottom: 4px;
	margin-top: 4px;
}
.input_p1{
	display: block;
	height: 29px;
	width: 100%;
	background-color: #FCFCFC;
	color: black;
	border: 1px solid #718093;
	border-radius: 3px;
	font-size: 15px;
	box-sizing: border-box; 
}
.input_p2{
	display: block;
	height: 27px;
	width: 300px;
	background-color: #FCFCFC;
	color: black;
	font-size: 15px;
	box-sizing: border-box; 
	margin-top: 5px;
}

.input_p_s {
	display: block;
}
.error_d_p{
	color: red;
}
.dp_s{
		margin-left: 5px;
	border-radius: 14px 14px 14px 14px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-border-radius: 14px 14px 14px 14px;
	border: 0px solid #000000;
	background-color: #4267b2;
	color: white;
	font-size: 18px;
	padding: 6px;
	cursor: pointer;
}
.stopien_trudnosci_d{
	padding-top: 5px;
}
/*CSS dodaj nowy przepis - odpowiedzialny za radio sposobu trudnosci */
.radio_checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 13px;
}
/* Hide the browser's default checkbox */
.radio_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.radio_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.radio_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.radio_checkbox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.radio_checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.usun_skladnik_p{
	float: left;
}
/* Style dla profil.php - początek ******************************************************************/
.profil_pojemnik{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	font-size: 17px;
}
.profil_pojemnik h2{
	color: #4267b2;	
	margin-bottom: 10px;
}
.pp_info{
	padding: 5px 5px
}
.pp_info_w{
	padding-left: 3px;
}
.pogrubienie{
	font-weight: bold;
}
.profil_pojemnik table{
	margin-top: 30px;
	border-collapse: collapse;
}
.profil_pojemnik tr:nth-child(odd) {
    background-color: #dddddd;
}
.profil_pojemnik table tr th{
	text-align: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	color: #4267b2;	
	background-color: white;
}
.profil_pojemnik table tr td{
	padding: 5px 15px;
	border: 1px solid #dddddd;
}
.profil_pojemnik table tr td a{
	text-decoration: underline;
	color: black;
}
/* Style dla profil.php - koniec ********************************************************************/
/* Style dla kategorie.php **************************************************************************/
.k_kategorie{
	width: 1100px;
	margin: 0 auto;
	margin-top: 40px;
}
.k_k_filtry{
	float: left;
	box-sizing: border-box;
	width: 180px;
	margin-top: 15px;
}
.k_k_wyswietlanie_przepisow{
	float: left;
	box-sizing: border-box;
	width: 800px;
	margin-left: 10px;
}
.k_k_f_sekcja{
	border-bottom: 1px solid #4267b2;
	padding-bottom: 10px;
}
.k_k_f_s_tytul{
	padding: 5px 0px;
}
.k_k_f_s_t_opcje{
	padding: 2px 0px;
}
.k_k_f_s_t_opcje_floatleft{
	float: left;
	width: 90px;
}
.kolor_niebieski{
	color: #4267b2;
	padding-bottom: 5px;
}
/* Style dla kategorie.php - koniec **************************************************************************/